Source: python-tornado-fastrpc
Section: python
Priority: optional
Maintainer: Advert <advert-vyvoj@firma.seznam.cz>
Uploaders: Jan Seifert <jan.seifert@firma.seznam.cz>
Build-Depends: debhelper (>= 9.0),
               dh-python,
               python-all,
               python3-all,
               python-fastrpc,
               python3-fastrpc,
               python-mock,
               python3-mock,
               python-pycurl,
               python3-pycurl,
               python-pytest,
               python3-pytest,
               python-pytest-cov,
               python3-pytest-cov,
               python-setuptools,
               python3-setuptools,
               python-tornado (>= 3.2),
               python3-tornado (>= 3.2)
Standards-Version: 3.9.6
X-Python-Version: 2.7
X-Python3-Version: 3.4, 3.5

Package: python-tornado-fastrpc
Architecture: any
Depends: ${python:Depends},
         ${misc:Depends},
         python-fastrpc,
         python-pkg-resources,
         python-pycurl,
         python-tornado (>= 3.2)
Description: Async FastRPC for Python's Tornado
 Provides asynchronous FastRPC client for Python's Tornado www server.

Package: python3-tornado-fastrpc
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-fastrpc,
         python3-pkg-resources,
         python3-pycurl,
         python3-tornado (>= 3.2)
Description: Async FastRPC for Python's Tornado
 Provides asynchronous FastRPC client for Python's Tornado www server.
 .
 This package contains the Python 3 version of the library.
