#!/usr/bin/make -f
# -*- makefile -*-

export DH_ALWAYS_EXCLUDE=.git:*.pyc:*.pyo:__pycache__

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export PYBUILD_NAME=tornado-fastrpc

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_clean:
	dh_clean
	rm -f $(CURDIR)/*.egg
	rm -f $(CURDIR)/.coverage
	rm -rf $(CURDIR)/.cache
